<form action='/pirates' action= "post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  ship_name_1: <input type="text" name= "pirate[ships][][name]">
  ship_type_1: <input type="text" name= "pirate[ships][][type]">
  ship_booty_1: <input type="text" name= "pirate[ships][][booty]">
  ship_name_2: <input type="text" name= "pirate[ships][][name]">
  ship_type_2: <input type="text" name= "pirate[ships][][type]">
  ship_booty_2: <input type="text" name= "pirate[ships][][booty]">
  <input type="submit">
</form>
